.driver-div {
    width: 100%;
    height: 60em;
    background-color: black;
    background-image: url('../../assets/flavien-MaraDXSaTho-unsplash.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center ;
    justify-content: space-around;
}
button {
    width: 50%;
}